includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    phpVersion: 70300 # PHP 7.3
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

